ChildInsurance/ChildInsurance.Web/Service References/CareerOptionService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ChildInsurance.Service/CareerOptionService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ChildInsurance.Model.Service" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ChildInsurance.Service/CareerOptionService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetCareerOptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ChildInsurance.Model.Service" minOccurs="0" name="interestRequest" nillable="true" type="q1:InterestRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCareerOptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCareerOptionsResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>