ChildInsurance/ChildInsurance.Web/Service References/FinancialRecommendationService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FutureCost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualCost" type="xs:decimal" />
        <xs:element minOccurs="0" name="interestRate" type="xs:decimal" />
        <xs:element minOccurs="0" name="yearCount" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FutureCostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FutureCostResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="YearlyContribution">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="futureCost" type="xs:decimal" />
        <xs:element minOccurs="0" name="interestRate" type="xs:decimal" />
        <xs:element minOccurs="0" name="yearCount" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="YearlyContributionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="YearlyContributionResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>